<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}

            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
            <link rel="stylesheet" href="https://cdn.datatables.net/1.10.10/css/dataTables.bootstrap.min.css"/>

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}

            <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
            <script src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
            <script src="https://cdn.datatables.net/1.10.10/js/dataTables.bootstrap.min.js"></script>

        {% endblock %}
    </body>
</html>
