{% extends 'base.html.twig' %}

{% block javascripts %}

    {{ parent() }}

    <script>

        $(document).ready(function () {
            var table = $('.datatable').DataTable({
                "ajax": "{{ path('convocantes') }}",
                "processing": true,
                "serverSide": true,
                "columns": [
                    {"data": "codigo"},
                    {"data": "nombre_simple"},
                    {"data": "nombre"},
                    {"data": "tipo"},
                    {"data": "dependiente_de"},
                    {"data": "nivel_entidad"},
                    {"data": "tipo_entidad"}
                ],
                "order": [[ 1, "asc" ]],
                "language": {
                    "thousands": ",",
                    "emptyTable": "No se han encontrado datos",
                    "info": "Se muestran del _START_ al _END_ de _TOTAL_ resultados",
                    "infoEmpty": "Se muestran del 0 al 0 de 0 resultados",
                    "infoFiltered": "(Filtrados de un total de _MAX_)",
                    "infoPostFix": "",
                    "lengthMenu": "Mostrar _MENU_ resultados",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "No se han encontrado datos",
                    "paginate": {
                        "first": "<<",
                        "last": ">>",
                        "next": ">",
                        "previous": "<"
                    },
                    "aria": {
                        "sortAscending": ": activar para ordenar la columna ascendentemente",
                        "sortDescending": ": activar para ordenar la columna descendentemente"
                    }
                }
            });

            // Filtros por columna
            $('.datatable thead td').each(function () {
                var title = $(this).text();
                $(this).html('<input type="text" size="13" placeholder="' + title + '" />');
            });

            // Ejecutar filtros por columna
            $(".datatable thead input").on('keyup change', function () {
                table
                        .column($(this).parent().index() + ':visible')
                        .search(this.value)
                        .draw();
            });
        });

    </script>

{% endblock %}

{% block body %}

    <div id="maincontent" class="container">

        <div class="row">
            <div class="table-responsive">
                <table class="table table-bordered datatable">
                    <thead>
                    <tr>
                        <td>Código</td>
                        <td>Nombre Simple</td>
                        <td>Nombre</td>
                        <td>tipo</td>
                        <td>Dependiente de</td>
                        <td>Nivel de Entidad</td>
                        <td>Tipo de Entidad</td>

                    </tr>
                    <tr>
                        <th>Código</th>
                        <th>Nombre Simple</th>
                        <th>Nombre</th>
                        <th>tipo</th>
                        <th>Dependiente de</th>
                        <th>Nivel de Entidad</th>
                        <th>Tipo de Entidad</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>

    </div>

{% endblock %}
